<div class="mb-8">
  <h2 class="mb-4">Accordion</h2>
  <accordion />
</div>

<div class="mb-8">
  <h2 class="mb-4">Collapse</h2>
  <collapse />
</div>

<div class="mb-8">
  <h2 class="mb-4">Tabs</h2>
  <tabs />
</div>

<div class="mb-8">
  <h2 class="mb-4">ScrollSpy</h2>
  <scroll-spy />
</div>

<div class="mb-8">
  <h2 class="mb-4">MegaMenu</h2>
  <megamenu />
</div>

<div class="mb-8">
  <h2 class="mb-4">Dropdown</h2>
  <dropdown />
</div>

<div class="mb-8">
  <h2 class="mb-4">Modal</h2>
  <modal />
</div>

<div class="mb-8">
  <h2 class="mb-4">Offcanvas</h2>
  <offcanvas />
</div>

<div class="mb-8">
  <h2 class="mb-4">Sidebar</h2>
  <sidebar />
</div>

<div class="mb-8">
  <h2 class="mb-4">Popover</h2>
  <popover />
</div>

<div class="mb-8">
  <h2 class="mb-4">Tooltip</h2>
  <tooltip />
</div>

<div class="mb-8">
  <h2 class="mb-4">RemoveElement</h2>
  <remove-element />
</div>
